<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>254961305013-d855jv3avo02vt0idp1d9b1b25gbiho9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.254961305013-d855jv3avo02vt0idp1d9b1b25gbiho9</string>
	<key>API_KEY</key>
	<string>AIzaSyDpTd_SgPB4nopS2wk4fEt_mSi97_lpluQ</string>
	<key>GCM_SENDER_ID</key>
	<string>254961305013</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.biolazard.coronavirus</string>
	<key>PROJECT_ID</key>
	<string>coronavirus-88c07</string>
	<key>STORAGE_BUCKET</key>
	<string>coronavirus-88c07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:254961305013:ios:98ef5e3d78e2f24add45fc</string>
	<key>DATABASE_URL</key>
	<string>https://coronavirus-88c07.firebaseio.com</string>
</dict>
</plist>